.flex{
  display: inline-flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-top: 80px;
  margin-left: 150px;
  margin-right: 150px;
  justify-content: center;
  align-items: center;
}

img {
  display: inline-block;
  max-width: 100%;
}

.margin{
  margin-top: 30px;
  margin-left: 40px;
}